<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inspection Tool</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">  
</head>
<body>
  <header> 
    <div class="wrapper">
      <nav>
        <div class="logo">INSPEKT AI</div>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">System</a>
          </li>
          <li>
            <a href="#">Articles</a>
          </li>
          <li>
            <a href="#" class="btn light">LOG IN</a>
          </li>
          <li>
            <a href="#" class="btn dark">INSPECT</a>
          </li>
        </ul>
      </nav>

      <!--End of desktop navigation menu -->

      <div class="hero-section">
          <h1>Inspekt AI free facade inspection report</h1>
          <p>
            With a few simple facts about your building, we can leverage over 50 million data points and provide you with incredibly detailed information about your building type, maintenance recommendations and much, much more. We will provide this in a unique report created just for you.</br>
          INSIDE you will find:</br>
            -Best maintenance practices on particular materials</br>
            -Predictive results on flaws on your building type</br>
            -data points that help you manage your building better.</br>
          </br>
            Enter a picture or two of your building</br>
            Tell us the primary and secondary building material for the facade</br>
            Enter your email and wait for our report created just for you.
          </p>
          <a href="#" class="btn dark">INSPECT NOW</a>
        <!--<div class="right">
          <img src="../images/top.png" alt=""/>
        </div>-->
      </div>
    </div>
  </header>

      <!--End of Header section -->


  <section class="About-Us-Section">
    <div class="left">
      <img src="../static/images/About_us_image.png" alt="">
    </div>

    <div class="right">
      <h2>About Us</h2>
      <p>As a property owner or manager, you want to keep your building in good <br/>condition to ensure the safety and satisfaction of your tenants. But traditional <br/> building inspections can be time-consuming, expensive, and potentially <br/> dangerous for inspectors. <br/> <br/>
        That's where our advanced building inspection technology comes in. Our AI <br/> software and drone technology work together to provide comprehensive <br/> assessments of your building's exterior and identify any issues before they <br/> become major problems.</p> <br/><br/>

      <div class="services">
        <img src="../static/images/LT_icon.png" alt="">
        <div class="content">Roof damage</div>
      </div> <br />
      <div class="services">
        <img src="../static/images/RT_icon.png" alt="">
        <div class="content">Exterior wall cracks and damage</div>
      </div> <br />
      <div class="services">
        <img src="../static/images/LD_icon.png" alt="">
        <div class="content">Chimney and gutter damage</div>
      </div> <br />
      <div class="services">
        <img src="../static/images/RD_icon.png" alt="">
        <div class="content">Water damage and leaks</div>
    </div>
  </section>
  
<!--End of About US section -->

  <div class="wrapper">
    <section class="expect">
      <div class="top">
        <h2>What you can expect to <br /> get?</h2>  
        <p>Our AI software analyzes the data collected during the inspection and provides <br /> detailed reports on any issues found, including recommendations for repairs and <br /> maintenance.</p>
      </div>
      <div class="bottom">
        <img src="../static/images/expect.png" alt="">
      </div>
    </section>
  </div>

<!--End of Expect section -->

<section class="help">
  <div class="wrapper">
    <h2>How Our Solution Can <br /> Help You</h2>
    <div class="cards">
      <div class="help-cards1">
        <img src="../static/images/solution_drone.png" alt="" width=”20px” height="auto">
        <div class="info">
          <h3>Wisdom For The Battle <br /> To Protect Your Building</h3>
          <p>Fast and accurate assessments <br /> of your building's exterior</p>
        </div>
      </div>

      <div class="help-cards2">
        <img src="../static/images/solution_report.png" alt="" width=”20px” height=”20px”>
        <div class="info">
          <h3>Detailed Reporting <br /> System</h3>
          <p>Detailed reports with <br /> recommendations for repairs <br /> and maintenance</p>
        </div>
      </div>

      <div class="help-cards3">
        <img src="../static/images/solution_risk.png" alt="" width=”20px” height=”20px”>
        <div class="info">
          <h3>reduction of property <br /> risk for owners</h3>
          <p>Reduced costs compared to <br /> traditional inspections</p>
        </div>
      </div>

      <div class="help-cards4">
        <img src="../static/images/solution_inspection.png" alt="" width=”20px” height=”20px”>
        <div class="info">
          <h3>Professional Facade <br /> inspection</h3>
          <p>Increased safety for inspectors</p>
        </div>
      </div>
    </div>
</section>

<!--End of Help Card section -->

<div class="wrapper">
  <section class="case-study">
    <div class="top">
      <h2> Check Out These Case <br /> Studies</h2>
      <p>From building façade to smart building comprehensive monitoring , Inspect AI <br /> 
        maintain your properties in their best performance, brought to you a <br /> 
        sustainable insight to transform building management process.</p>
    <div class="bottom">
      <div class="file1" >
        <h3>Commercial Building</h2>
        <p>We conducted curtain wall inspection for <br />
          commercial buildings. With aid of the AI-powered <br /> 
          solution the monetary and time cost for a full façade <br />
          inspection are reduced by at least 50%.</p>
          <div class="download">
            <div class="download-btn">
              <img src="../static/images/case_st_1.jpg" alt=""> </br>
              <span>DOWNLOAD FILE</span>
            </div>
          </div>
      </div>
      <div class="file2" >
        <h3>Commercial Building</h2>
        <p>We conducted curtain wall inspection for <br />
            commercial buildings. With aid of the AI-powered <br /> 
            solution the monetary and time cost for a full façade <br />
            inspection are reduced by at least 50%.</p>
          <div class="download">
            <div class="download-btn">
              <img src="../static/images/case_st_1.jpg" alt=""> </br>
              <span>DOWNLOAD FILE</span>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>

<!--End of Case Study section -->
<div class="wrapper">
  <section class="final-section">
      <h1>
        Try Our Free Self<br /> Inspection Tool to <br />Know You Building <br />Condition
      </h1>     
      <a href="#" class="btn dark">INSPECT NOW</a>
      <img src="../static/images/root_14.png" alt=""/>
  </section>
</div>
<!--End of Final section -->
 
  <footer> 
    <div class="wrapper">
      <nav-foot>
        <div class="logo">INSPEKT AI</div>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">System</a>
          </li>
          <li>
            <a href="#">Articles</a>
          </li>
          <li>
            <a href="#" class="btn light">LOG IN</a>
          </li>
          <li>
            <a href="#" class="btn dark">INSPECT</a>
          </li>
        </ul>
      </nav-foot>
    </footer>  

<script src="main.js"></script>
  
 </body>
</html>
